SWoT_Communicator/xml-resources/web-service-references/SensorPollService/wsdl/79.136.36.225_8080/ElectroSocketService2.0/SensorPollService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://electrosocket.swot.miun.se/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://electrosocket.swot.miun.se/" name="SensorPollService">
<types>
<xsd:schema>
<xsd:import namespace="http://electrosocket.swot.miun.se/" schemaLocation="http://79.136.36.225:8080/ElectroSocketService2.0/SensorPollService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSWOTApplicationName">
<part name="parameters" element="tns:getSWOTApplicationName"/>
</message>
<message name="getSWOTApplicationNameResponse">
<part name="parameters" element="tns:getSWOTApplicationNameResponse"/>
</message>
<message name="getTemperature">
<part name="parameters" element="tns:getTemperature"/>
</message>
<message name="getTemperatureResponse">
<part name="parameters" element="tns:getTemperatureResponse"/>
</message>
<message name="getHumidity">
<part name="parameters" element="tns:getHumidity"/>
</message>
<message name="getHumidityResponse">
<part name="parameters" element="tns:getHumidityResponse"/>
</message>
<message name="getOnLight">
<part name="parameters" element="tns:getOnLight"/>
</message>
<message name="getOnLightResponse">
<part name="parameters" element="tns:getOnLightResponse"/>
</message>
<message name="getOnSocket">
<part name="parameters" element="tns:getOnSocket"/>
</message>
<message name="getOnSocketResponse">
<part name="parameters" element="tns:getOnSocketResponse"/>
</message>
<message name="setOnLight">
<part name="parameters" element="tns:setOnLight"/>
</message>
<message name="setOnLightResponse">
<part name="parameters" element="tns:setOnLightResponse"/>
</message>
<message name="setOnSocket">
<part name="parameters" element="tns:setOnSocket"/>
</message>
<message name="setOnSocketResponse">
<part name="parameters" element="tns:setOnSocketResponse"/>
</message>
<portType name="SensorPollService">
<operation name="getSWOTApplicationName">
<input wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getSWOTApplicationNameRequest" message="tns:getSWOTApplicationName"/>
<output wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getSWOTApplicationNameResponse" message="tns:getSWOTApplicationNameResponse"/>
</operation>
<operation name="getTemperature">
<input wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getTemperatureRequest" message="tns:getTemperature"/>
<output wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getTemperatureResponse" message="tns:getTemperatureResponse"/>
</operation>
<operation name="getHumidity">
<input wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getHumidityRequest" message="tns:getHumidity"/>
<output wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getHumidityResponse" message="tns:getHumidityResponse"/>
</operation>
<operation name="getOnLight">
<input wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getOnLightRequest" message="tns:getOnLight"/>
<output wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getOnLightResponse" message="tns:getOnLightResponse"/>
</operation>
<operation name="getOnSocket">
<input wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getOnSocketRequest" message="tns:getOnSocket"/>
<output wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/getOnSocketResponse" message="tns:getOnSocketResponse"/>
</operation>
<operation name="setOnLight">
<input wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/setOnLightRequest" message="tns:setOnLight"/>
<output wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/setOnLightResponse" message="tns:setOnLightResponse"/>
</operation>
<operation name="setOnSocket">
<input wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/setOnSocketRequest" message="tns:setOnSocket"/>
<output wsam:Action="http://electrosocket.swot.miun.se/SensorPollService/setOnSocketResponse" message="tns:setOnSocketResponse"/>
</operation>
</portType>
<binding name="SensorPollServicePortBinding" type="tns:SensorPollService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSWOTApplicationName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHumidity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOnLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOnSocket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOnLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOnSocket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SensorPollService">
<port name="SensorPollServicePort" binding="tns:SensorPollServicePortBinding">
<soap:address location="http://79.136.36.225:8080/ElectroSocketService2.0/SensorPollService"/>
</port>
</service>
</definitions>